@model IEnumerable<ServiceManagementApp.ViewModels.CompanyViewModel>

<h1>Списък с фирми</h1>

<table class="table">
    <thead>
        <tr>
            <th>Име на фирма</th>
            <th>ЕИК</th>
            <th>VAT Number</th>
            <th>Телефон</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var company in Model)
        {
            <tr>
                <td>@company.CompanyName</td>
                <td>@company.EIK</td>
                <td>@company.VATNumber</td>
                <td>@company.Phone</td>
                <td>@company.Email</td>
                <td>
                    <a href="@Url.Action("AssociateClient", "Companies", new { companyId = company.Id })" class="btn btn-sm btn-primary" title="Associate Client">
                        <i class="fas fa-user-plus"></i> Associate Client
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section sidebar {
    <div class="sidebar">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Companies" asp-action="Index">Списък с фирми</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Companies" asp-action="Create">Създаване на фирма</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Companies" asp-action="Edit">Редакция на фирма</a>
            </li>
        </ul>
    </div>
}
